<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>day #</title>
    <link rel="stylesheet" href="css/myStyle.css">
    <link rel="stylesheet" href="css/anotherstyle.css">
    <style>
        .studentRec {
            border: 1px solid #777;
            margin: 4px;
            padding: 4px;
            font-size: 14px;
            background: #cccccc;
        }
        .passingStudent {
            background: lightgreen;
        }
        .failingStudent {
            background: pink;
        }
    </style>
</head>
<body>

<div id="container"></div>

<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script src="js/lib/underscore.js"></script>
<script src="SampleData.js"></script>
<script>


function appendTemplateData(dataString) {
    var container = document.getElementById("container");
    container.innerHTML += dataString;
}

var templateString = "<div><span>Hello, every body, my name is <% print(firstname.toUpperCase()) %>, I am a developer working in enterprise system in University of Florida. And I have been here for <%= year.length %> years</span></div>";

window.addEventListener("load", function(e) {
    var compiledTemplate = _.template(templateString);

    var result = compiledTemplate({
        firstname: "hongbo",
        year: "xxx"
    });

    appendTemplateData(result);
});
</script>
</body>
</html>
